body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    background-color: #FFF;
}
.nav-container{
    justify-content: space-between;
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid red;

}

.but-container{
    text-decoration: none;
    border-radius: 35px;
    background: #FF42A5;
    border: 0;
    color: white;
    font-size: 10px;
    padding: 14px 15px;
}
.but-container-go{
    text-decoration: none;
    border-radius: 35px;
    background:#4EC5F7;
    border: 0;
    color: white;
    font-size: 10px;
    padding: 14px 15px;
}


.logo-container{
    width: 50%;
    margin-right: 150px ;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 255, 34);
}

.logo-container img{
    width: 86px;
    height: 40px;
    margin-right: 85px ;
    margin-left: 240px;
}

.logo-container p{
    font-size: 20px;
}

.nav-items-container{

    width: 50%;
    display: flex;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 40px;
}

.g-color{
    color: #FF42A5 ;
}

/* main page 1 */
.main-text2 a{
    text-decoration: none;
    font-size: 20px;
    color: black;

}
.main-container{
    display: flex;
    width: auto;
    height: 550px;
    border: 1px solid blueviolet;
}

.main-text{

    font-size: 20px;
    color: black;
    }

.goat-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid red;
}

.fast-image{
    width: 600px;
    height: 550px;
        
}

/* main page 2 */

.main-container-style{
   
    justify-content: space-between;
}

.main2-container{
    display: flex;
    width: auto;
    height: 650px;
    border: 1px solid rgb(245, 3, 104);
    
}

.sec-image{
    width: 100px;
    height: 150px;
}


.color-gamer{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid rgb(245, 3, 104);
   
}

/* main page 3 */

.game-box-size{
    width: 100%;
    height: auto;
}
.game-text{
    display: flex;
    align-items: center;
}

.game-list{
    background-position: 100%;
    display: flex;
    border: 2px dashed tomato;
    width:auto;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(245, 3, 104);
}
.game-list img{
    width: 242px;
    height: 300px;
}




/* 9game list */

.games-continer-list{
    display: block;
    align-items: center;
    justify-content: space-between;
    border: 2px solid tomato;
}
.games-continer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}
.games-continer-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;

}


/* Footer */
.baground-color{
    text-align: center;
    background-color: black;
    color: rgb(219, 5, 5);
    border: 1px solid red;
    
}